{
  "extends": ["next", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "singleQuote": false,
        "trailingComma": "es5",
        "semi": false,
        "tabWidth": 2
      }
    ],
    "@next/next/no-img-element": "off",
    "jsx-a11y/alt-text": "off",
    "@next/next/link-passhref": "off",
    "@next/next/no-document-import-in-page": "off",
    "linebreak-style": "off"
  }
}
